/*================ global scope =====================*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --primary_color: #1e73be;
    --white: #fff;
    --apple_font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    --montserrat_font: 'Montserrat', sans-serif;
    --border_color: #3d3c3c;
}

body {
    font-family: var(--montserrat_font);
}
ul,ol {
    list-style: none;
}
a,a:hover {
    text-decoration: none;
}
.clearfix {
    clear: both;
}
/*================ header area start =====================*/
.container {
    width: 70%;
    margin: 0 auto;
}
nav {
    background-color: var(--white);
    padding: 10px;
    height: 90px;
}
.logo {
    width: 20%;
    float: left;
}
.logo img {
    max-width: 100%;
    width: 100px;
    cursor: pointer;
}
.menu {
    width: 80%;
    float: left;
}
.menu ul {
    float: right;
}
.menu ul li {
    float: left;
    height: 50px;
    padding: 10px 20px;
    line-height: 50px;
    position: relative;
    transition: all linear .7s;
}
.menu ul li a {
    color: #000;
    font-family: var(--montserrat_font);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu ul li a:hover, .menu ul li a.active, .menu ul li a:focus {
    color: var(--primary_color);
}
/* dropdown */
/* .dropdown {
    display: none;
}
.menu ul li:hover .dropdown {
    display: block;
}
.menu ul li:hover .dropdown ul {
    display: block;
    background-color: #F0F0F0;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 180px;
}
.menu ul li:hover .dropdown ul li {
    height: 40px;
    float: none;
    padding: 0 20px;
    transition: all linear .7s;
} */
/*================ header area end =====================*/

/*================ banner area start ===================*/
#banner {
    margin: 0 auto;
    background: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#banner .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 300px 0;
}
#banner h1 {
    color: var(--white);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#banner h4 {
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
#banner a.read_btn {
    background-color: var(--primary_color);
    color: var(--white);
    font-size: 14px;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all linear .2s;
}
#banner a:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all linear .2s;
}
/*================ banner area end =====================*/

/*================ about area start ====================*/
#about {
    margin: 80px 0;
    background: #FFFFFF;
}
#about h1 {
    margin: 40px 0;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--apple_font);
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
#about .about_content {
    float: left;
    width: 50%;
}
#about .about_content h2 {
    text-align: center;
    font-size: 22px;
    font-family: var(--apple_font);
    text-transform: uppercase;
    margin-bottom: 10px;
}
#about .about_content h4 {
    text-align: justify;
    font-size: 16px;
    font-family: var(--apple_font);
    height: 300px;
    font-weight: 600;
    padding: 0 20px;
}
#about .about_img {
    float: left;
    width: 50%;
}
#about .about_img img {
    width: 100%;
}
/*================ about area end =======================*/

/*================ gallery area start ===================*/
#gallery {
    width: 100%;
    padding: 50px 0;
    background-color: #F0F4F6;
}
.section_heading {
    text-align: center;
    margin: 0 0 30px 0;
    color: #000;
    padding: 10px 20px;
}
.gallery_img {
    width: 32%;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    overflow: hidden;
}
.gallery_img:hover {
    transform: scale(.9);
    transition: all linear .3s;
}
.gallery_img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.gallery_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}
.gallery_overlay a {
    font-size: 14px;
    background-color: var(--primary_color);
    color: var(--white);
    padding: 10px 20px;
}
.gallery_img:hover .gallery_overlay {
    opacity: 0.7;
    transition: all linear .3s;
}
.img_middle {
    margin: 0 2%;
}
/*================ gallery area end =====================*/

/*================ services area end ====================*/
#service {
    margin: 20px 0 30px 0;
}
.service_content {
    height: 300px;
    width: 32%;
    float: left;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
    transition: all linear .3s;
}
.service_content:hover {
    background-color: var(--primary_color);
    transition: all linear .3s;
}
.service_content:hover i, .service_content:hover h3, .service_content:hover p, .service_content:hover a {
    color: var(--white);
    transition: all linear .3s;
}
.service_content i {
    font-size: 40px;
    color: var(--primary_color);
}
.service_content h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 12px 0;
}
.service_content p {
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.service_content a {
    color: var(--primary_color);
    padding: 20px;
    transition: all linear .3s;
}
.content_middle {
    margin: 0 2%;
}

/*================ services area end ====================*/

/*================ contact area start ===================*/
#contact {
    padding: 20px 0;
    margin: 20px 0 30px 0;
    width: 100%;
    height: 500px;
    background-color: #F9F9FF;
}
.contact_content {
    width: 68%;
    float: left;
}
.contact_content p.upper_text {
    margin: 0;
    color: var(--primary_color);
    font-size: 14px;
}
.contact_content h2 {
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.contact_content p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 40px;
}
.contact_content a {
    font-size: 14px;
    padding: 10px 30px;
    background-color: var(--primary_color);
    color: var(--white);
}
.contact_content a:hover {
    color: #000;
    background-color: transparent;
    border: 1px solid var(--border_color);
}
.contact_form {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 2%;
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/form_bg.jpg);
    background-size: cover;
}
.contact_form .form_wrap {
    padding: 30px;
}
.contact_form h4 {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.contact_form .form-control {
    width: 100%;
    margin-bottom: 0;
    background: transparent;
    color: var(--white) !important;
    padding: 5px;
    border: 1px solid #fff;
}
.contact_form input::placeholder {
    padding: 5px;
    font-size: 13px;
}
.contact_form textarea.form-control {
    font-family: var(--montserrat_font);
}
.contact_form textarea::placeholder {
    padding: 5px;
    font-size: 13px;
    color: var(--white);
    font-family: var(--montserrat_font);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--white);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--white);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--white);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--white);
}
.sub_btn {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    font-family: var(--apple_font);
    background: var(--primary_color);
    color: #fff;
    border: 1px solid var(--border_color);
}
/*================ contact area end =====================*/

/*================ footer area start ====================*/
#footer {
    margin: 30px 0 0 0;
    background-color: #000;
    width: 100%;
    height: 200px;
    padding: 30px 0;
}
 .copyright {
    float: left;
    width: 32%;
    color: var(--white);
}
 .copyright a {
    color: #EC7706;
}
i.fa-heart {
    color: #EC7706;
}
.newsletter {
    float: left;
    width: 32%;
    color: var(--white);
}
.copyright h3, .newsletter h3, .social h3 {
    color: var(--white);
    font-weight: 400;
    font-family: var(--apple_font);
    text-transform: capitalize;
}
.copyright p, .newsletter p, .social p {
    font-size: 13px;
    margin: 20px 0;
}
.newsletter .new_input {
    width: 90%;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--border_color);
    color: #000;
}
.new_input::placeholder {
    color: #000;
    padding: 10px 0;
}
.newsletter i {
    background-color: #EC7706;
    margin-top: 5px !important;
    padding: 10px;
    color: var(--white);
}
.social {
    width: 32%;
    float: right;
    color: var(--white);
}
.social i {
    padding: 10px;
}
.middle {
    margin: 0 2%;
}
/*================ footer area end ========================*/



/*================ about us page start ====================*/
#banner_section {
    width: 100%;
    height: 250px;
    background: url(../img/img_5.jpg);
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-size: cover;
    text-align: center;
    object-fit: cover;
    position: relative;
}
#banner_section h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 150px;
    padding: 20px;
}
#banner_section h3 {
    font-size: 13px;
    font-weight: 400;
    margin-top: -60px;
} 
#banner_section h3 i {
    font-size: 12px;
    margin: 0 5px;
}
.img_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.after_content {
    margin: 60px 0;
}
.after_content h3 {
    font-size: 30px;
    font-family: var(--apple_font);
    text-align: center;
}
.after_content p {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-family: var(--apple_font);
    text-align: justify;
}

/*================ about us page end ======================*/


/*================ contact us page start ====================*/
.map_section {
    margin: 100px 0;
}

#contact_section {
    width: 100%;
    height: 400px;
    margin: 90px 0 0 0;
    padding: 20px 0;
}
.contact_desc {
    width: 32%;
    float: left;
}
.contact_desc .icon {
    float: left;
    width: 40%;
    margin: 0;
    font-size: 25px;
    color: #FAB731;
}
.contact_desc .text {
    float: left;
    width: 60%;
    margin-left: -70px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
} 
.contact_desc .text h3 {
    font-size: 18px;
    color: #293A53;
    font-weight: 400;
}
.contact_desc .text span {
    font-size: 12px;
    color: #6C7789;
}
.contact_middle {
    width: 32%;
    float: left;
    margin: 0 2%;
}
.form-middle {
    height: 43px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.form-middle::placeholder {
    color: #6C7789;
    font-family: 'Poppins', sans-serif;
}
.contact_right {
    width: 32%;
    float: left;
}
#cnt_right {
    border: 1px solid #ccc;
    outline: 0;
}
#cnt_right::placeholder {
    padding: 10px;
    color: #6C7789;
    font-family: 'Poppins', sans-serif;
}
.msg_btn {
    padding: 10px 20px;
    background-color: #FAB731;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
    margin-left: 220px;
}
.msg_btn:hover {
    background-color: #fff;
    color: #FAB731;
    border: 1px solid #FAB731;
}
/*================ contact us page end ======================*/



/*================ service page end =========================*/
.service_heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#service span.before_content {
    font-family: 'Poppins', sans-serif;
    color: #585757;
    font-size: 13px;
}

.after_contnt {
    margin: 30px 0;
    font-family: var(--apple_font);
}

/*================ service page end ===============================*/


/*================ projects gallery page start =======================*/
#gallery_section .heading {
    text-align: center;
    margin: 100px 0 40px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#gallery_section .heading span {
    font-size: 13px;
    font-weight: normal;
    color: #585757;
}
/* first section */
.sec_first {
    width: 68%;
    float: left;
    margin-bottom: 10px;
}
.sec_first img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.img_last {
    float: left;
    width: 30%;
    margin-left: 2%;
}
.img_last img {
    width: 100%;
    height: 400;
    object-fit: cover;
}
/* second section */
.sec_second {
    width: 49%;
    float: left;
    margin-bottom: 10px;
}
.sec_second img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.img_right {
    width: 49%;
    float: left;
    margin-left: 2%;
}
.img_right img {
    width: 100%;
    height: 400;
    object-fit: cover;
}
/* last section */
.sec_last {
    width: 32%;
    float: left;
    margin-bottom: 10px;
}
.sec_last img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.img_middle {
    margin: 0 2%;
}
/* overlay & hover */
.gallery_sec {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
}
.gallery_sec:hover img {
    transform: scale(1.1);
    transition: all linear .3s;
}
.gall_sec_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.gallery_sec:hover .gall_sec_overlay {
    opacity: 0.7;
    transition: all linear .3s;
}

/*================ projects gallery page end ========================*/




