/*================ global scope =====================*/
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --primary_color: #1e73be;
    --white: #fff;
    --apple_font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
    --montserrat_font: 'Montserrat', sans-serif;
    --border_color: #3d3c3c;
}

body {
    font-family: var(--montserrat_font);
}
ul,ol {
    list-style: none;
}
a,a:hover {
    text-decoration: none;
}
.clearfix {
    clear: both;
}
/*================ header area start =====================*/
.container {
    width: 70%;
    margin: 0 auto;
}
nav {
    background-color: var(--white);
    padding: 10px;
    height: 90px;

}
.logo {
    width: 20%;
    float: left;
}
.logo img {
    max-width: 100%;
    width: 100px;
    cursor: pointer;
}
.menu {
    width: 80%;
    float: left;
}
.menu ul {
    float: right;
}
.menu ul li {
    float: left;
    height: 50px;
    padding: 10px 20px;
    line-height: 50px;
    position: relative;
    transition: all linear .7s;
}
.menu ul li a {
    color: #000;
    font-family: var(--montserrat_font);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu ul li a:hover, .menu ul li a.active {
    color: var(--primary_color);
}

/*================ header area end =====================*/

/*================ banner area start ===================*/
#banner {
    margin: 0 auto;
    background: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#banner .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 300px 0;
}
#banner h1 {
    color: var(--white);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#banner h4 {
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
#banner a.read_btn {
    background-color: var(--primary_color);
    color: var(--white);
    font-size: 14px;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all linear .2s;
}
#banner a:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all linear .2s;
}
/*================ banner area end =====================*/

/*================ about area start ====================*/
#about {
    margin: 80px 0;
    background: #FFFFFF;
}
#about h1 {
    margin: 40px 0;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--apple_font);
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
#about .about_content {
    float: left;
    width: 50%;
}
#about .about_content h2 {
    text-align: center;
    font-size: 22px;
    font-family: var(--apple_font) ;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#about .about_content h4 {
    text-align: justify;
    font-size: 16px;
    font-family: var(--apple_font) ;
    font-weight: 600;
    padding: 0 20px;
}
#about .about_img {
    float: left;
    width: 50%;
}
#about .about_img img {
    width: 100%;
}
/*================ about area end =======================*/

/*================ gallery area start ===================*/
#gallery {
    width: 100%;
    padding: 40px 0;
    background-color: #F0F4F6;
}
.section_heading {
    text-align: center;
    margin: 0 0 30px 0;
    color: #000;
    padding: 10px 20px;
}
.gallery_img {
    width: 32%;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    overflow: hidden;
}
.gallery_img:hover {
    transform: scale(.9);
    transition: all linear .3s;
}
.gallery_img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.gallery_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 350px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}
.gallery_overlay a {
    font-size: 14px;
    background-color: var(--primary_color);
    color: var(--white);
    padding: 10px 20px;
}
.gallery_img:hover .gallery_overlay {
    opacity: 0.7;
    transition: all linear .3s;
}
.img_middle {
    margin: 0 2%;
}
/*================ gallery area end =====================*/

/*================ services area end ====================*/
#service {
    margin: 20px 0 30px 0;
}
.service_content {
    height: 300px;
    width: 32%;
    float: left;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: all linear .3s;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
}
.service_content i {
    font-size: 40px;
    color: var(--primary_color);
}
.service_content h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 12px 0;
}
.service_content p {
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
.service_content a {
    color: var(--primary_color);
    padding: 20px;
    transition: all linear .3s;
}
.content_middle {
    margin: 0 2%;
}

/*================ services area end ====================*/

/*================ contact area start ===================*/
#contact {
    padding: 20px 0;
    margin: 20px 0 30px 0;
    width: 100%;
    height: 500px;
    background-color: #F9F9FF;
}
.contact_content {
    width: 68%;
    float: left;
}
.contact_content p.upper_text {
    margin: 0;
    color: var(--primary_color);
    font-size: 14px;
}
.contact_content h2 {
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.contact_content p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 40px;
}
.contact_content a {
    font-size: 14px;
    padding: 10px 30px;
    background-color: var(--primary_color);
    color: var(--white);
}
.contact_content a:hover {
    color: #000;
    background-color: transparent;
    border: 1px solid var(--border_color);
}
.contact_form {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 2%;
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/form_bg.jpg);
    background-size: cover;
}
.contact_form .form_wrap {
    padding: 30px;
}
.contact_form h4 {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.contact_form .form-control {
    width: 100%;
    margin-bottom: 0;
    background: transparent;
    color: var(--white) !important;
    padding: 5px;
    border: 1px solid #fff;
}
.contact_form input::placeholder {
    padding: 5px;
    font-size: 13px;
}
.contact_form textarea.form-control {
    font-family: var(--montserrat_font);
}
.contact_form textarea::placeholder {
    padding: 5px;
    font-size: 13px;
    color: var(--white);
    font-family: var(--montserrat_font);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--white);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--white);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--white);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--white);
}
.sub_btn {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
    font-family: var(--apple_font);
    background: var(--primary_color);
    color: #fff;
    border: 1px solid var(--border_color);
}
/*================ contact area end =====================*/

/*================ footer area start ====================*/
#footer {
    margin: 30px 0 0 0;
    background-color: #000;
    width: 100%;
    height: 200px;
    padding: 30px 0;
}
.copyright {
    width: 38%;
    float: left;
    color: var(--white);
}
.copyright a {
    color: #fab700;
}
i.fa-heart {
    color: #fab700;
}

.copyright h3, .newsletter h3, .social h3 {
    color: var(--white);
    font-weight: 400;
    font-family: var(--apple_font);
    text-transform: capitalize;
}
.copyright p, .newsletter p, .social p {
    font-size: 13px;
    margin: 20px 0;
}
.newsletter {
    width: 38%;
    float: left;
    color: var(--white);
    margin: 0 2%;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.click_form {
    width: 80%;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    border: 0;
}
.click_form::placeholder {
    color: #000;
}

.click_btn {
    line-height: 1.5;
    background-color: #fab700;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 10.5px 12px;
    white-space: nowrap;
}
.click_btn i {
    color: #fff;
    font-size: 16px;
}
.social {
    width: 20%;
    float: left;
    color: var(--white);
}
.social i {
    font-size: 16px;
    margin-left: -5px;
    padding: 10px;
}
/*================ footer area end ======================*/
